# Firebase Project 176236272832 Config
VITE_FIREBASE_API_KEY=AIzaSyYourActualApiKeyFromFirebaseConsole
VITE_FIREBASE_AUTH_DOMAIN=vetpr-176236272832.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=vetpr-176236272832
VITE_FIREBASE_STORAGE_BUCKET=vetpr-176236272832.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=176236272832
VITE_FIREBASE_APP_ID=1:176236272832:web:abcdef123456
